.u-dashboard-top {
    padding: 50px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
}

.u-dashboard-top p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    display: inline-block;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px) {
.navbar-toggle {
    display: none;
	}
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.u-dashboard-top .navbar-collapse.collapse {
    padding-left: 0;
}

@media (min-width: 768px) {
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
	}
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.u-dashboard-top ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.u-dashboard-top ul li a {
    padding: 8px;
}

.u-dashboard-top a {
    color: #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}


a {
    color: #428bca;
    text-decoration: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

a:active, a:hover {
    outline: 0;
}

.pull-right {
    float: right !important;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.btn-xs {
    padding: 3px 14px;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 12px !important;
}

.btn-warning {
    color: #ffffff;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #333333 !important;
    background-color: #ffffff;
    border-color: #cccccc !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.panel-body {
    padding: 15px;
}

.row-form {
	flex-direction: column !important;
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 992px) {
.col-md-6 {
    width: 50%;
	}
}

@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
	}
}

label {
    cursor: default;
}

#bb {
    display: none;
    background-color: rgba(0,0,0,.7);
    top: 52px;
    left: 29px;
}

.absolute {
    position: absolute;
}

.GVb {
    background: url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_sr-df78a3b….png) no-repeat 0 0;
    display: inline-block;
    margin: 8px;
    width: 24px;
    height: 20px;
}

.field-File {
    margin-bottom: 0px !important;
}